<meta charset="UTF-8">
<!-- <!-<title>Ejs is fun right??</title> -> -->
<link rel="stylesheet" href="./css/navbar.css">


<header>
    <!-- <!- <h1> Welcome to Out Website</h1> -> -->
    <nav>
     <div style="margin:1rem"></div>
        <div class="containerNavBar">
             <div class="class1 options" ><a href="#transactionBox" style="text-decoration: none;" > <img src="images/navBar/expns.png" ></a></div>
            <div class="class2 options" ><a href="#homeBox"  style="text-decoration: none;" ><img src="images/navBar/home.png" > </a></div>
            <div class="class3 options" ><a href="#goalBox"  style="text-decoration: none;"><img src="images/navBar/goal.png" > </a></div> 
        </div>
      <ul>
        </ul> 
    </nav>
</header>

