<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="navbar.css">
</head>

<body>


    <ul class="navbar">
        <li> Home
            <a href=""></a>
        </li>
        <li> <a href="list.ejs"></a> Add Transaction </li>
        <li> <a href=""></a> Add Goal </li>
        <li> <a href="store.ejs"></a> Store </li>
    </ul>
</body>

</html>