<!-- <meta charset="UTF-8">
<!-<title>Ejs is fun right??</title> ->
<link rel="stylesheet" href="./css/navbar.css">


<header>
    <!- <h1> Welcome to Out Website</h1> ->
    <nav>
     
        <div class="containerNavBar">
            <!- <img src="\images\storePage\wallet2.png" alt="coin" class="infoIcon"
            style="height:4.5rem;width:4.5rem;margin: 1rem;"> ->
            <!- <div class="class1 options" ><a href="/"> SignUp</a></div>
            <div class="class2 options" ><a href="list">Home </a></div>
            <div class="class3 options" ><a href="store">Store </a></div> ->
        </div>
        <!- <ul>
            
            <li></li>
            <li></li>
            <li></li>
        </ul> ->
    </nav>
</header>

<link rel="stylesheet" href="navbar.css"> -->
