nav{
    position: relative;
    /* position: static; */
}
.containerNavBar{
    display: flex;
    height: 7rem;
    background-color: rgb(255, 157, 66);
    flex-wrap: flex;
    text-decoration: none;
}
.options{
    font-size: 1.5rem;
   margin: 2rem;
   font-size: 1.5rem;

   width: 5.5rem;
   color: white;
   /* text-transform: uppercase; */
   text-decoration: none;
}