:root {
  --fs-veryLarge: 2rem;
  --fs-large: 1.5rem;
  --fs-medium: 1.25rem;
  --fs-blueColor: #1aa9c4;
  --dash-offset:0;
   --customizedColor: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
}
/**/
.orangeColorText{
    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
    margin: 0.625rem;
    box-sizing: content-box;
    padding: 1rem 2.8125rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 1.25rem #eee;
    border-radius: 0.625rem;
    display: block;
}
/* .orangeColorText {
  padding: 0.625rem;

  background: hsla(20, 88%, 51%, 1);

  background: linear-gradient(
    45deg,
    hsla(20, 88%, 51%, 1) 20%,
    hsla(28, 100%, 57%, 1) 47%,
    hsla(58, 100%, 63%, 1) 87%,
    hsla(29, 92%, 52%, 1) 100%,
    hsla(36, 75%, 77%, 1) 100%,
    hsla(36, 75%, 77%, 1) 100%,
    hsla(33, 94%, 54%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(20, 88%, 51%, 1) 20%,
    hsla(28, 100%, 57%, 1) 47%,
    hsla(58, 100%, 63%, 1) 87%,
    hsla(29, 92%, 52%, 1) 100%,
    hsla(36, 75%, 77%, 1) 100%,
    hsla(36, 75%, 77%, 1) 100%,
    hsla(33, 94%, 54%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(20, 88%, 51%, 1) 20%,
    hsla(28, 100%, 57%, 1) 47%,
    hsla(58, 100%, 63%, 1) 87%,
    hsla(29, 92%, 52%, 1) 100%,
    hsla(36, 75%, 77%, 1) 100%,
    hsla(36, 75%, 77%, 1) 100%,
    hsla(33, 94%, 54%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F05E16", endColorstr="#FF8822", GradientType=1 );
} */
/**/
#pd{
  color: var(--fs-blueColor);
}
html {
  background-color: #e4e9fd;
  min-height: 62.5rem;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 0.625rem;
  font-size: var(--fs-veryLarge);
}
h2 {
  font-size: var(--fs-large);
}

.box {
  max-width: 25rem;
  margin: 3.125rem auto;
  border-radius: 0.3125rem;
  border-radius: 25px;
}

.button{
  /* background-color: transparent; */
  border-radius: transparent;
}
.button:hover{
  cursor: pointer;
}
.rmStyles{
  border: none;background-color: transparent;padding: 0;
}

#heading {
  /* background-color: rgb(255, 165, 0); */
  text-align: center;
  left: padding 3.125rem;
}

.item {
  min-height: 4.375rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: rgb(255, 165, 0);
  /* text-decoration-color: #a683e3; */
}

input[type="checkbox"] {
  margin: 1.25rem;
}

p {
  margin: 0;
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 1.25rem;
}

#addItemBtn {
  min-height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(255, 165, 0);
  color: #fff;
  font-size: 1.875rem;
  padding-bottom: 0.375rem;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 3.75rem;
  top: 0.625rem;
  border: none;
  background: transparent;
  font-size: 1.75rem;

  /* font-size: 1.25rem; */
  font-weight: 200;
  width: 19.5625rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -0.1875rem 0 0 rgb(255, 165, 0);
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* codingartist wado code lidho and then aena mathi adding the css to the navbar taken  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f7f9fd;
}
/* wrapper */
/* container */
.container {
  width: 100%;
}
/* sub-container */
.sub-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
/* flex */
.flex {
  display: flex;
  align-items: center;
}
/* flex-space */
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* mein je pan navu rakhiyu aenu css */
.topmost {
  border-radius: 10%;
  padding: 1rem;
  text-align: center;
  background-color: orange;

  /* gradient rakhisu color ne  */
}
/* wrapper h3 */
/* container input */
/* container input:focus */
/* .total-amount-container, user-amount-container */
/*  .output-container*/
/* .output-container p */
/* .output-container span */
/* submit */
/* list */
/* sublist-content */
/* product */
/* amount */
/* icons-container */
/* product-title */
/* hide */
/* error */
/* edit */
/* edit delete */



@media screen and (max-width: 600px) {
  .wrapper {
    font-size: 0.875rem;
  }
  /* .sub-container */
}
.div-left {
  float: left;
  padding-left: 0.625rem;
  position: relative;
}
.div-right {
  float: right;
  padding-right: 0.625rem;
  position: relative;
}

.helloooooo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125rem 0.9375rem;
  box-sizing: content-box;
  border: 1rem;
  border-radius: 1rem;
  padding: 4rem;
  margin: 2rem;
}
.headingMoney {
  color: rgb(17, 136, 191);
}
.grid-container {
  display: grid;
  position: relative;
  grid-gap: 1rem;
  padding: 1rem;
}
/******************************************************skill chart details ************************************************************/

/* pie chart details */
.skill {
  /* background-color: yellow; */
  position: relative;
  align-items: center;
  display: flex;
  /* width: 10rem;
  height: 10rem; */
  justify-content: center;
}
.outer {
  height: 10rem;
  width: 10rem;
  /* margin-left: 50%; */
  margin: auto;
  align-items: center;
  border-radius: 50%;
  /* border: 0.0625rem solid red; */
  padding: 1.25rem;
  position: relative;
  box-shadow: 0.375rem 0.375rem 0.625rem -0.0625rem rgba(0, 0, 0, 0.15),
    -0.375rem -0.375rem 0.625rem 0.0625rem rgba(255, 255, 255, 0.7);
}

.inner {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  border: 0.0625rem solid red;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: inset 0.25rem 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.2),
    inset -0.25rem -0.25rem 0.375rem 0.0625rem rgba(255, 255, 255, 0.7),
    0.03125rem 0.03125rem 0rem rgba(255, 255, 255, 1),
    0.03125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15),
    0rem 0.75rem 0.625rem 0.625rem rgba(0, 0, 0, 0.05);
}
#number {
  font-weight: 600;
  color: #555;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 1.25rem;
  /* stroke-dasharray: 472; */
  /* stroke-dashoffset: 200; */
  /* stroke-dashoffset: 200; */
  /* circle na andar ketlo color bharavo joie */
  animation: anim 2s linear forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 3.5%;
  margin-left: 41%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
#remaining-amount {
  --dash-offset: attr(data-dash-offset); 
   /* Set the value using the data attribute  */
}
.progress-circle {
  /* --circle-length: 472; */
 /* --dash-offset:attr(data-dash-offset); */
  stroke-dasharray: 472;
  /* stroke-dashoffset: var(--dash-offset); */
  /* stroke-dashoffset: var(--dash-offset); */
  stroke-dashoffset:calc(var(--dash-offset)*5)
}

/* event for the animmation */

/* .progress-circle{
  existing code
  stroke-dasharray: 472;
  stroke-dashoffset: 50;
  animation: anim 2s linear forwards;
} */
/**********************************************************************************/
/* first box no last portion */
/*grid container  */
.grid-container2 {
  display: grid;
  position: relative;
  /* column-gap: 0rem; */
  row-gap: 2rem;
  flex-wrap: wrap;

  /* grid-template-columns: auto auto auto auto auto auto; */
  /* gap: 10px; */
  /* background-color: #2196F3; */
  /* padding: 10px; */
}
.itemB1 {
  grid-row: 1;
  grid-column: 1;
}
.itemB2 {
  grid-row: 1;
  grid-column: 2;
}
.itemB3 {
  grid-row: 1;
  grid-column: 3;
}
.blueText {
  color: var(--fs-blueColor);
  /* color: rgb(7, 221, 199); */
  font-weight: 600;
}
.textSummary {
  font-weight: 600;
}

h2 {
  text-align: center;
}

/* -------------------------------------------------expenseContainer ----------------------------------------------------------*/
.expenseCotainer {
  display: flex;
}
.expenseContainerItem1 {
  flex: 1;
  /* background-color: red; */
}
.leftOfExpense {
  /* float: left; */
  padding-left: 0.625rem;
  position: relative;
  display: flexbox;
}
.rightOfExpense {
  /* float: right; */
  display: flexbox;
  /* padding-right: 0.625rem; */
  padding-left: 50%;
  position: relative;
}

/* Clear floats after the columns */
.column {
  float: left;
  margin-bottom: 0rem;
  position: relative;
  width: 20%;
  /* margin-top:3.0rem; */
  margin-top: 2rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*expenseListHeading*/
.ExpenseListHeading {
  margin: 0.5rem;
  font-size: 115%;
}

/*******************************************************dropDown menu category wise **********************************************************************/
/* Dropdown Button */
select {
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  position: relative;
}

select:focus {
  outline: none;
}

/*adding the responsive text -> totalBudget, provisionalBalance, remain*/
.third-row {
  font-size: var(--fs-medium);
}

/*****************************************************************************************************************************************/

/*WHILE showing the transactions -> wadu css*/
.cont {
  display: grid;
}
.toShowAmtDate {
  list-style-type: none;
}

.transactionContainer {
  display: grid;

  /*   grid-template-columns: auto auto auto auto; */
  /*   padding:0.625rem; */
}
.leftMost {
  width: 80%;
  grid-column-start: 0;
  grid-column-end: 1;
}
.rightMost {
  width: 20%;
  /*   grid-column: 2 / span 2; */
  grid-column-start: 1;
  grid-column-end: 2;
}
/* .transactionItems{
  text-align: center;
} */
.transactionContainerItem1 {
  grid-column-start: 0;
  grid-column-end: 1;
  /*   margin-left: 0rem; */
}
.transactionContainerItem2 {
  grid-column-start: 1;
  grid-column-end: 2;
  /*   margin-top:0rem; */
  /*   margin-left:rem; */
}

/*items ni list nu font */
.cont {
  /* font-size: var(--fs-medium); */
  font-size: 1.25rem;
}
.date {
  text-align: center;
  margin-right: 0rem;
  font-size: 1rem;
  color: grey;
}

/******************************grid feature add-gungun *******************************/
.container3 {
  /*   display: grid; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.a {
  flex: 50%;
}
.b {
  flex: 50%;
}
@media (max-width: 800px) {
  .container3 {
    flex-direction: column;
  }
}
.goalItem {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 2px 5px 0px;
}

/*to show the items*/
.output-box {
  display: flex;
  margin-left: 1rem;
}
.left-section {
  flex: 50%;
}
.right-section {
  flex: 50%;
}

.calculatedText {
  color: red;
}
#goal_meet_per {
  color: red;
  text-align: center;
  font-size: 25px;
}
.firstClass {
  border-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 2px 5px 0px;
  padding-top: 1rem;
}
.container3B {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.container3bItem1 {
  flex: 25%;
}
.container3bItem2 {
  flex: 25%;
}
.container3bItem3 {
  flex: 25%;
}
.container3bItem4 {
  flex: 25%;
}
#goalClass {
  text-align: center;
  border-radius: 15px;
}
.goalTypeSet {
  box-sizing: border-box;
  /**/
  font-size: var(--fs-large);
}
#nameOfGoal {
  all: revert;
}

#addGoalBtn {
  min-height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: hsla(20, 88%, 51%, 1);
  color: #fff;
  font-size: 1.875rem;
  padding-bottom: 0.375rem;
  margin-left: 50%;
  margin-bottom: 1rem;
  border-width: 0;
}
#nameOfGoal,
#setGoalValue,
#goalCategory {
  height: 50px;
  width: 90%;
  font-size: 20px;
  text-align: center;
}



#coin-box{
  text-align: center;
  margin: auto;
  border-radius:15px;
  background-color: #FFB81C;
  width: 200px;
  height: 70px;
  margin-right: 0;
  font-size: larger;
  padding-top: 20px;
  font-weight: 600;
}